body {
    padding: 20px;
 }
 
 .box {
    width: 100px;
    height: 100px;
    border: 15px solid pink;
    margin: 10px;
 }
 /* function rgb(red,green,blue)
 we mix them to have an exact color */
 .rgb {
    background-color:  rgb(76, 0, 255);
    box-sizing: content-box;
 }
 /* from color picker google we use it to search for colors
 the first number without a % */
 .hsl {
  background-color: hsl(100, 96%, 48%);
  box-sizing: initial;
 }
 
 .hex {
    background-color: #73f1a8;
    box-sizing: inherit;
 
 }
 
 .rgba {
    background-color: rgba(214, 55, 124, 0.5);
    box-sizing: border-box;
 }
 /* solid: is a type of border /   */
 .post{
     border: 20px groove blue;
     padding: 10px;
     margin: 30px;
     

 }
/*we don`t use a row because it is a bootsrap class with padding we are adding a spsce between an element and the border/
row border will be marked without the division between it so our element will be post
 .row{
   padding: 20px;
   border: 20px groove blue;
 } */
#title{
   text-align: center;
   color: red;
   background-color: yellow;
}

p{
   color: orangered;
   font-size: 20px;
}

 